/* set the styles */

.password-second-confirm {
  font-weight: bold;
}

.password-disclaimer {
  font-weight: bold;
}

.settings-auth-related {
}

.s3-disclaimer {
  font-weight: bold;
}
.settings-long-desc {
  font-size: var(--font-ui-smaller);
  color: var(--text-muted);
  padding-left: 18px;
  margin-bottom: 18px;
}
.settings-long-desc h2 {
  font-size: var(--font-ui-medium);
  font-weight: var(--bold-weight);
  margin-bottom: 4px;
}
.settings-long-desc p {
  margin: 6px 0;
}
.settings-long-desc ul {
  margin: 4px 0 8px 16px;
  padding: 0;
}
.settings-long-desc li {
  margin: 2px 0;
}
.s3-hide {
  display: none;
}

.onedrive-disclaimer {
  font-weight: bold;
}
.onedrive-hide {
  display: none;
}

.onedrive-auth-button-hide {
  display: none;
}

.onedrive-revoke-auth-button-hide {
  display: none;
}

.webdav-disclaimer {
  font-weight: bold;
}
.webdav-hide {
  display: none;
}



/* !important isn't great practice but it needs to overwrite other css classes */
.third-party-sync-hidden {
  display: none !important; 
}

.third-party-sync-show-status-bar {
  display: flex !important;
}
